<%= content_for :main do %>
  <div id="new_rows" style="display: none;">
    <%= link_to 'Показать новые сообщения', show_new_emessages_path, remote: true %> (<span id="tcount">0</span>)
  </div>
  <div class="row">
    <div class="row" style="margin-left: 30px;">
      <%= paginate @texts %>  
    </div>
    <div class="row">
      <div id="texts" class="col-md-8">
        
      <% @texts.each do |text| %>
        <%= render 'text', text: text %>
      <% end %>
      </div>
      <div class="col-md-3">
        <%= form_tag 'select_sources' do %>
          <label>Источники:</label><br>
          <% origins = Origin.where(group: 0) %>
          <% origins.each do |origin| %>
            <%= check_box_tag "select_sources[]", origin.id, session[:origins].include?(origin.id), id: dom_id(origin) %>
            <%= label_tag dom_id(origin), origin.title %><br>
          <% end %>
          <%= submit_tag 'Применить' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
