<div class="article" style="background-color: <%= background_color %>; color: <%= color %>;">
  <div class="row">
    <p><a name="<%= "anc#{text.id}" %>"></a>
    <div class="col-md-11">
      <b> <%= text.title.try(:html_safe) %> </b> </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <p> <%= link_to text.url, text.url, target: "_blank" %> </p>

      <p> 
        <%= (text.content.presence || text.description.presence).gsub("\n\n", "<br>\n").try(:html_safe) %>
      </p>
      <% if text.datetime %>
        <p> <%= text.datetime.strftime("%d.%m.%Y %H:%M") %></p>
      <% else %>
        <b> Новость получена: </b>
        <p> <%= text.created_at.strftime("%d.%m.%Y %H:%M") %></p>
      <% end %>
    </div>
  </div>
</div>