<div class="article">
  <p><a name="<%= "anc#{text.id}" %>"></a><span></span><b> <%= text.title.html_safe %> </b> </p>
  <p> <%= link_to text.url, text.url, target: "_blank" %> </p>
  <b>Аннотация:</b>
  <!-- <p> <%= text.description.gsub("\n\n", "<br>\n").html_safe if text.description %> </p>
  <b>Полный текст статьи:</b> -->
  <p> <%= text.content.gsub("\n\n", "<br>\n").html_safe if text.content %> </p>
  <% if text.datetime %>
    <p align="right"> Новость от: <%= text.datetime.strftime("%d.%m.%Y %H:%M") %></p>
  <% else %>
    <p align="right"> Новость получена: <%= text.created_at.strftime("%d.%m.%Y %H:%M") %></p>
  <% end %>
  <hr>
<% if text.emot %>
    <div id="emotion_<%= text.id %>">
      Эмоциональность: <div class="emot emot_<%= text.emot.to_i + 3 %>"> <%= text.emot %> </div>
  <% if text.my_emot %>
      Реальная эмоциональность: <div class="emot emot_<%= text.my_emot.to_i + 3 %>"> <%= text.my_emot %> </div>
    </div>
  <% else %>
    </div>
    <%#= render 'feedback', text: text %>
  <% end %>  
<% end %>
</div>