<div class="article" style="background-color: <%= color %>">
  <p><a name="<%= "anc#{text.id}" %>"></a><div class="col-md-11"><b> <%= text.title %> </b> </p></div>
  <p> <%= link_to text.url, text.url, target: "_blank" %> </p>
  <p> <%= text.description if text.description %> </p>
  <!-- <b>Полный текст статьи:</b>
  <p> <%= text.content.gsub("\n\n", "<br>\n").html_safe if text.content %> </p> -->
  <% if text.datetime %>
    <p> <%= text.datetime.strftime("%d.%m.%Y %H:%M") %></p>
  <% else %>
    <b> Новость получена: </b>
    <p> <%= text.created_at.strftime("%d.%m.%Y %H:%M") %></p>
  <% end %>
<% if text.emot %>
  <div class="emot emot_<%= text.emot.to_i + 3 %>" style="top:10px; right: 10px; position:absolute"> <%= text.emot %> </div>
    <%#= render 'feedback', text: text %>
<% end %>
</div>