<!DOCTYPE html>
<html>
<head>
  <title>MediaAnalyse</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
</head>
<body>
<h2>Новый источник:</h2>
<table>
<tbody>
<%= form_for :origin, url: create_efeed_path do |f| %>
  <%= f.hidden_field 'group', value: 1917 %>
  <tr>
    <td>Название:</td>   
    <td><%= f.text_field 'title' %></td>
  </tr>
  <tr>
    <td>RSS URL:</td>   
    <td><%= f.text_field 'url' %></td>
  </tr>
  <tr>
    <td><%= f.submit 'Создать' %></td>   
  </tr>
<% end %>
</body>
</html>