<!DOCTYPE html>
<html>
<head>
  <title>MediaAnalyse</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>
</head>
<body>
<h2>Новый источник:</h2>
Мониторинг нового источника начинается примерно через 5 минут.
<table>
<tbody>
<%= form_for :origin, url: create_efeed_path do |f| %>
  <tr>
    <td>Название:</td>   
    <td><%= f.text_field 'title' %></td>
  </tr>
  <tr>
    <td>URL:</td>   
    <td><%= f.text_field 'url' %></td>
  </tr>
  <tr>
    <td>Тип потока:</td>
    <td><%= f.text_field 'origin_type', value: 'rss_rca_sourcesmi' %></td>
    <td>parameters: parseyarss, vk_api, rss, xml, json, rca, sourcesmi, ya_blogs, search, cp1251</td>
  </tr>
  <tr>
    <td>Позиция поискового запроса:</td>
    <td><%= f.text_field 'query_position', value: '0' %></td>
    <td>В случае, если источник предполагает вставку запроса</td>
  </tr>
  <tr>
    <td><%= f.submit 'Создать' %></td>   
  </tr>
<% end %>
</body>
</html>