<%= form_for(@query, class: "form-horizontal", role: "form") do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "ошибка") %></h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <% unless @category %>
      <label class="col-sm-6 control-label" style="padding: 20px 0px"> Категория:</label>
      <div class="col-sm-6">
        <%= select_tag :category_id, options_from_collection_for_select(@categories, :id, :title) %>
      </div>
    <% else %>
      <%= hidden_field_tag :category_id, params[:category_id] %>
    <% end %>
  </div>
  <div class="form-group" style="padding: 20px 0px">
    <label class="col-sm-6 control-label">Заголовок запроса:</label>
    <div class="col-sm-6">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" style="padding: 20px 0px">
    <label class="col-sm-6 control-label">Запрос:</label>
    <div class="col-sm-6">
      <%= f.text_field :body, class: "form-control" %>
    </div>
  </div>
  <div class="form-group" style="padding: 20px 0px">
    <label class="col-sm-6 control-label">Поисковая система:</label>
    <div class="col-sm-6">
      <%= hidden_field_tag "query[search_engine_ids][]", nil%>
      <% SearchEngine.all.each do |se| %>
        <%= check_box_tag "query[search_engine_ids][]", se.id, @query.search_engine_ids.include?(se.id), id: dom_id(se) %>
        <%= label_tag dom_id(se), se.title %><br>
      <% end %>
    </div>
  </div>
  <%= f.submit "Готово", class: "btn btn-default col-md-offset-2 col-md-2" %>
  <%= link_to 'Отмена', :back, class: 'col-md-offset-4 col-md-2 btn btn-default' %>
<% end %>