<%= form_for(@query, class: "form-horizontal", role: "form") do |f| %>
  <% if @query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query.errors.count, "ошибка") %></h2>

      <ul>
      <% @query.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group" style="padding: 20px 0px">
      <label class="col-sm-4 control-label" style="padding: 20px"> Категория:</label>
      <div class="col-sm-8">
        <% unless @category %>
          <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :title) %>
        <% else %>
          <div class="col-sm-12" style="padding: 20px;"> <%= @category.title%> </div>
          <%= f.hidden_field :category_id, value: @category.id %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group" style="padding: 20px 0px">
      <label class="col-sm-4 control-label">Заголовок запроса:</label>
      <div class="col-sm-8">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
  </div>
  <%= f.submit "Готово", class: "btn btn-default col-md-offset-2 col-md-2" %>
  <%= link_to 'Отмена', :back, class: 'col-md-offset-4 col-md-2 btn btn-default' %>
<% end %>