<div style="text-align: center">
  <% if @query %>
    <span class="text_header"><%= @query.title %></span>  
  <% end %>
  &nbsp; &nbsp; &nbsp;
  <span style="font-size: 24px;">
  <% if params[:source] == 'smi' %>
    СМИ
  <% else %>
    <%= link_to 'СМИ', category_query_path(params[:category_id], @query.id, source: 'smi', from: params[:from], to: params[:to]) %>
  <% end %>
   &nbsp; | &nbsp; 
  <% if params[:source] == 'sn' %>
    Соц. сети
  <% else %>
    <%= link_to 'Соц. сети', category_query_path(params[:category_id], @query.id, source: 'sn', from: params[:from], to: params[:to]) %>
  <% end %>
   &nbsp; | &nbsp; 
  <% if params[:source] == 'blogs' %>
    Блоги
  <% else %>
    <%= link_to 'Блоги', category_query_path(params[:category_id], @query.id, source: 'blogs', from: params[:from], to: params[:to]) %>
  <% end %>
  </span>
</div>

<div class="row" style="padding-bottom: 20px">
	<div id="chart_emot" class="col-md-10 col-md-offset-1" style="height: 420px;"></div>
</div>

<div class="row" style="padding-bottom: 20px">
  <div id="chart_count" class="col-md-10 col-md-offset-1" style="height: 420px;"></div>
</div>

<div class="row">
  <div id="chart_both" class="col-md-10 col-md-offset-1" style="height: 420px;"></div>
</div>

<%= render 'scripts', query: @query, source: params['source'] %>
<div class="row">
  
  <div class="col-md-10 col-md-offset-1">
	  <form action="<%= category_query_path(params[:category_id], @query.id) %>" method="get">
		  <p>
        <%= hidden_field_tag :source, params[:source] if params[:source] %>
		  	С: <input type="text" id="datepicker_from" name="from" value="<%= params[:from] or DateTime.now.beginning_of_day.strftime("%d.%m.%Y %H:%M") %>">&nbsp;
		  	По: <input type="text" id="datepicker_to" name="to" value="<%= params[:to] or DateTime.now.strftime("%d.%m.%Y %H:%M") %>">
		  	<%= submit_tag "Изменить интервал", class: "btn btn-default" %>
		  </p>
	  </form>
  </div>
 </div>
<!-- 
 <div class="row">
	<div class="col-md-10 col-md-offset-1">
		<% @texts.each do |text| %>
			<p>
				<%= link_to "#anc#{text.id}" do %>
					<b> <%= text.title %> </b>
					(<%= text.url.length > 20 ? text.url[0..20] + "..." : text.url %>)
				<% end %>
			</p>
		<% end %>
	</div>
</div>
 -->
<div class="row">
<% @texts.each do |text| %>
		<div class="article">
			<button type="button" class="btn btn-info essence" onclick="javascript:location.href='<%= category_query_text_path(params[:category_id], text.query_id, text.id) %>'">Выделить сущности</button>
			<p><a name="<%= "anc#{text.id}" %>"></a><b> <%= text.title %> </b> </p>
			<p> <%= link_to text.url, text.url, target: "_blank" %> </p>
			<p> <%= text.content %> </p>
			<p align="right"> Новость от: <%= text.created_at.strftime("%d.%m.%Y %H:%M") %></p>
			<hr>
			<div id="emotion_<%= text.id %>">
				Эмоциональность: <div class="emot emot_<%= text.emot.to_i + 3 %>"> <%= text.emot %> </div>
				<% if text.my_emot %>
					Реальная эмоциональность: <div class="emot emot_<%= text.my_emot.to_i + 3 %>"> <%= text.my_emot %> </div>
			</div>
				<% else %>
			</div>
			<%= render 'feedback', text: text %>
			<% end %>
		</div>
<% end %>
</div>