<div style="text-align: center">
  <span class="text_header"><%= @query.title %></span>
  &nbsp; &nbsp; &nbsp;
  <span style="font-size: 24px;">
    <% if params['source'] == 'smi' %>
      СМИ
    <% else %>
      <%= link_to 'СМИ', query_path(@query.id, source: 'smi') %>
    <% end %>
    <% emot_smi = @query.last_hour_emot_smi current_user%>
    <%= emot_rate emot_smi %>
    &nbsp; | &nbsp;

    <% if params['source'] == 'sn' %>
      Соц. сети
    <% else %>
      <%= link_to 'Соц. сети', query_path(@query.id, source: 'sn') %>
    <% end %>
    <% emot_sn = @query.last_hour_emot_sn current_user %>
    <%= emot_rate emot_sn %>
    &nbsp; | &nbsp;

    <% if params['source'] == 'blogs' %>
      Блоги
    <% else %>
      <%= link_to 'Блоги', query_path(@query.id, source: 'blogs') %>
    <% end %>
    <% emot_blogs = @query.last_hour_emot_blogs current_user %>
    <%= emot_rate emot_blogs %>
  </span>
</div>

<!-- <div class="row" style="padding-bottom: 20px">
	<div id="chart_emot" class="col-md-10 col-md-offset-1" style="height: 420px;"></div>
</div>-->

<div class="row" style="padding-bottom: 20px">
  <div id="chart_both_day" class="col-md-10 col-md-offset-1" style="height: 420px;">
    <%= image_tag "ajax_loader.gif" %>
  </div>
</div>

<div class="row" style="padding-bottom: 20px">
  <div id="chart_both_hour" class="col-md-10 col-md-offset-1" style="height: 420px;"></div>
</div>

<%= render 'scripts', source: params['source'] %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
	  <form action="<%= change_interval_path(@query.id) %>" method="get">
		  <p>
        <%= hidden_field_tag :source, params[:source] if params[:source] %>
		  	С: <input type="text" id="datepicker_from" name="from" value="<%= session[@query.id][:from].strftime("%d.%m.%Y %H:%M") %>">&nbsp;
		  	По: <input type="text" id="datepicker_to" name="to" value="<%= session[@query.id][:to].strftime("%d.%m.%Y %H:%M") %>">
		  	<%= submit_tag "Изменить интервал", class: "btn btn-default" %>
        <%= link_to 'По умолчанию', change_interval_path(@query.id), id: 'set_datepicker_default_date' %>
		  </p>
	  </form>
        <% if session[@query.id][:count_by_period] and session[@query.id][:average_emot_by_period] %>
          <p>
            Количество сообщений за период: <%= session[@query.id][:count_by_period] %>; Средняя эмоциональность: <%= session[@query.id][:average_emot_by_period] %><!--; <%= @time1 %> -->
          </p>
        <% end %>
  </div>
 </div>
 <div class="row">
   <div class="col-md-10 col-md-offset-1">
    <span class="flash_notice"><%= flash[:notice] %></span>
   </div>
 </div>
 <div class="row">
   <div class="col-md-10 col-md-offset-1">
    <%= paginate @texts %>
   </div>
 </div>

<div class="row">
<% @texts.each do |text| %>
	<% if (session[:estyle] || "") == "blue" %>
        <%= render 'text', {text: text, background_color: '#03004d', color: '#00c2a8'} %>
      <% else %>
        <%= render 'text', {text: text, background_color: '#e3ddb8', color: '#000'} %>
      <% end %>
<% end %>
</div>

<div class="row">
   <div class="col-md-10 col-md-offset-1">
    <%= paginate @texts %>
   </div>
 </div>
