<% if @categories %>
	<%= content_for :categories do %>
		<%= render partial: 'categories/categories', locals: {categories: @categories, not_new: true} %>
	<% end %>
<% end %>

<%= content_for :queries do %>
  <%= render partial: 'categories/queries', locals: {queries: @queries, category_id: nil, not_new: false} %>
	<h3>Новый запрос</h3>

	<%= render 'form' %>
<% end %>

