<% if @categories %>
	<%= content_for :categories do %>
		<%= render partial: 'categories/categories', locals: {categories: @categories} %>
		<p> <%= link_to "Добавить категорию", new_category_path %> </p>
	<% end %>
<% end %>

<% if @queries %>
	<%= content_for :queries do %>
		<div id="queries_accord">
			<%= render partial: 'categories/queries', locals: {queries: @queries} %>
		</div>
		<p> <%= link_to "Добавить запрос", new_category_query_path(params[:category_id]) %> </p>
	<% end %>
<% end %>

<h2> Новости по запросу "<%= @query.body %>" </h2>
<%= content_for :main do %>
	<%= render partial: 'texts', locals: {query: @query} %>
<% end %>


