
<% @categories.each do |category| %>
	<%= link_to category do %>
		<% if params[:category_id] %>
			<% if params[:category_id].to_i == category.id %>
				<button type="button" class="btn btn-success btn-lg btn-block"><%= category.title %></button>
			<% else %>
				<button type="button" class="btn btn-primary btn-lg btn-block"><%= category.title %></button>
			<% end %>
		<% else %>
			<% if params[:id] and params[:id].to_i == category.id %>
				<button type="button" class="btn btn-success btn-lg btn-block"><%= category.title %></button>
			<% else %>
				<button type="button" class="btn btn-primary btn-lg btn-block"><%= category.title %></button>
			<% end %>
		<% end %>
	<% end %> 
	&nbsp; 
	<%= link_to 'Delete', category_path(category.id), :method => :delete, data: {confirm: "Уверены?"} %>
<% end %>