<%= form_for(@category, class: 'form-horizontal', html: {role: 'form'}) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.text_field :title, class: "form-control" %>
  </div>
  <%= f.submit "Готово", class: "btn btn-default col-md-offset-1 col-md-3" %>
  <%= link_to 'Отмена', :back, class: 'col-md-offset-4 col-md-3 btn btn-default' %>
<% end %>
