<% if @queries %>
	<% @queries.each do |query| %>
		<% if query.id %>
			<h3><%= query.title %></h3>
			<div queryid="<%= query.id %>">
				<p>
					Запрос: <%= query.body %>
				</p>
				<p>
					Поисковые системы: <%= query.search_engines.map{|i| i.title}.join(', ') %>
				</p>
				<p>
					Максимальное число запросов: <%= query.max_count %>
				</p>
				<p>
					Число текстов:  <span id="qtexts_count_<%= query.id %>" class="qtexts_count">
														<%= query.texts.count %>
													</span> 
					<%= link_to "Смотреть", 
											category_query_path(params[:category_id] || params[:id], query.id), 
											remote: true, 
											id: "query_show_#{query.id}", 
											class: "query_show", 
											queryid: query.id %>
					&nbsp; | &nbsp; 
					<%= link_to 'Удалить', 
											category_query_path(params[:category_id] || params[:id], query.id), 
											:method => :delete, 
											data: {confirm: "Уверены?"} %>
				</p>
				<div id="track_button<%= query.id %>">
					<% if query.track? %>
						<button type="button" class="btn btn-success btn-lg btn-block" onclick="trackOff(<%= query.id %>)">Остановить</button>
					<% else %>
						<button type="button" class="btn btn-primary btn-lg btn-block" onclick="trackOn(<%= query.id %>)">Отслеживать</button>
					<% end %>
				</div>
				<!-- to btn-info -->
			</div>
		<% end %>
	<% end %> 
<% end %>

