<div id="main" class='row'>
	<div id="categories" class="col-md-4">
		<b>Категории</b>
		<hr>
		<ul class="empty">
		<% @categories.each do |category| %>
			<li>
			<%= link_to category do %>
				<% if params[:id] and params[:id].to_i == category.id %>
					<button type="button" class="btn btn-success btn-lg btn-block"><%= category.title %></button>
				<% else %>
					<button type="button" class="btn btn-primary btn-lg btn-block"><%= category.title %></button>
				<% end %>
			<% end %> 
			&nbsp; 
			<%= link_to 'Delete', category_path(category.id), :method => :delete, data: {confirm: "Уверены?"} %></li>
		<% end %>
		</ul>
		<p> <%= link_to "Добавить категорию", new_category_path %> </p>
	</div>
	<div id="queries" class="col-md-6">
		<b> Запросы</b>
		<hr>
		<div id="queries_accord">
			<% @queries.each do |query| %>
				<h3><%= query.body %></h3>
				<div queryid="<%= query.id %>">
					<p>
						Поисковая система: <%= query.search_engine %>
					</p>
					<p>
						Максимальное число запросов: <%= query.max_count %>
					</p>
					<p>
						Число текстов: <%= query.texts.count %> <%= link_to "Смотреть", '#anctexts', id: "query_show_#{query.id}", class: "query_show", queryid: query.id %>
					</p>
					<div id="track_button<%= query.id %>">
						<% if query.track? %>
							<button type="button" class="btn btn-success btn-lg btn-block" onclick="trackOff(<%= query.id %>)">Отслеживать</button>
						<% else %>
							<button type="button" class="btn btn-primary btn-lg btn-block" onclick="trackOn(<%= query.id %>)">Отслеживать</button>
						<% end %>
					</div>
					<!-- to btn-info -->
				</div>
			<% end %> 
		</div>
		<% if params[:id] %>
			<p> <%= link_to "Добавить запрос", new_category_query_path(params[:id]) %> </p>
		<% else %>
			<p> <%= link_to "Добавить запрос", new_query_path %> </p>
		<% end %>
	</div>
</div>