<%= form_tag commit_essence_path(text.id), class: "form-inline", role: 'form', remote: true do %>
	<div id="essence_fields">
		<div id="essence">
			<%= text_field_tag 'essence[title]', nil, class: 'form-control', placeholder: "Сущность" %>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', -3 %> -3
			</label>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', -2 %> -2
			</label>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', -1 %> -1
			</label>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', 0 %> 0
			</label>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', 1 %> 1
			</label>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', 2 %> 2
			</label>
			<label class="radio-inline">
				<%= radio_button_tag 'essence[rating]', 3 %> 3
			</label>
			<%= submit_tag "Ок" %>
		</div>
	</div>
<% end %>