<% if @categories %>
	<%= content_for :categories do %>
		<%= render partial: 'categories/categories', locals: {categories: @categories, not_new: true} %>
		<p> <%= link_to "Добавить категорию", new_category_path %> </p>
	<% end %>
<% end %>

<% if @queries %>
	<%= content_for :queries do %>
		<%= render partial: 'categories/queries', locals: {queries: @queries, category_id: params[:category_id], not_new: true} %>
	<% end %>
<% end %>

<%= content_for :main do %>
	<h2> <%= @text.title %> </h2>
	<div id="text">
		<div id="content" class="col-md-6">
			<%= @text.content %>
			<div id="emotion_<%= @text.id %>">
				Тональность: <%= @text.emot %>
			</div>
		</div>
		<div id="essences" class="col-md-6">
			<table id="essences_table">
				<tbody>
					<% @text.essences.each do |essence| %>
						<tr id="essence_<%= essence.id %>">
							<td><%= essence.title %></td>
							<td><%= essence.rating %></td>
<!-- 							<td><%= link_to 'Удалить', essence_path(essence.id), method: :delete, remote: true %></td> -->
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= render 'essence', text: @text %>
		</div>
	</div>
<% end %>