<!DOCTYPE html>
<html>
<head>
  <title>MediaAnalyse</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- <link href='http://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'> -->
</head>
<body>
<div id="logout"><%= link_to 'Просмотреть список источников', efeed_path %> | <%= link_to 'Выйти', logout_path %></div>

<div class="page-header" style="position:relative; background-color: #eeeeee;">
	<a id="qqq" href="/"></a><h1 align="center">Система мониторинга и анализа данных интернет-ресурсов</h1>
</div>

<!--
<div id="nav">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
    <%= link_to "Logout", :logout, method: :post %>
  <% else %>
    <%= link_to "Register", new_user_path %> |
    <%= link_to "Login", :login %>
  <% end %>
</div>
-->

<div id="nav" class="col-md-12">
	<div id="categories" class="col-md-4" style="padding: 0px 10px 10px 10px">
		<h2 align="center">Категории</h2>
		<hr>
		<%= yield :categories %>
	</div>
	<div id="queries" class="col-md-8">
		<h2 align="center"> Запросы</h2>
		<%#= link_to "Правила составления запросов в Yandex.", "http://help.yandex.ru/search/query-language/crib-sheet.xml", target: "_blank" %>
		<%#= link_to "Правила составления запросов в Google.", "http://www.diacr.ru/zametki/20-kak-pravilno-iskat-v-google/kak-pravilno-iskat-v-google.htm", target: "_blank" %>
		<hr>
		<%= yield :queries %>
	</div>
</div>

<%= yield %>

<div id="main" class="col-md-12">
	<a name="anctexts"></a>
	<%= yield :main %>
</div>
<%= yield :specific_js %>
</body>
</html>
